<form id="form" action="/prompt" method="post">
	<div id="paper">
		<p>Dearest <input type="text" placeholder="[insert their name]" name="prompt[their_name]" />,</p>
		<p>This is simply a friendly reminder that on <input type="text" placeholder="[insert date]" name="prompt[date]" /> I lent you the princely sum of $<input type="text" placeholder="[insert amount]" name="prompt[amount]" /> - for <input type="text" placeholder="[insert what they needed it for]" name="prompt[what]" /> - and would rather much like it back (as we previously agreed you would).</p>
		<p>Since we are such close friends, I'm making it easy for you to pay me through the following link:</p>
		<p>[Link will be inserted here]</p>
		<p>Kind regards,</p>
		<p><input type="text" placeholder="[insert your name]" name="prompt[your_name]" /></p>
	</div>

	<div id="actions">
		<p><input type="text" placeholder="[insert their email]" name="prompt[their_email]" /></p>
		<p><input type="submit" value="Prompt"></p>
	</div>
</form>