<!doctype html>
<html>
	<head>
		<title>You Owe Me! - Get your friends and family to pay you, sharpish</title>

		<link rel="stylesheet" type="text/css" href="/assets/application.css">
	</head>

	<body>
		<div class="row">
			<header class="twelve columns">
				<h1>You Owe Me!</h1>
			</header>
		</div>

		<div id="container">
			<%= yield %>
		</div>
	</body>
</html>