<!doctype html>
<html>
	<head>
		<title>You Owe Me - Get your friends and family to pay you, sharpish</title>

		<link rel="stylesheet" type="text/css" href="/assets/foundation.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/application.css">

		<script type="text/javascript" src="/assets/application.js"></script>
	</head>

	<body>
		<div class="row">
			<header class="<%= @title ? 'seven' : 'four' %> columns centered">
				<h1><a href="/"><%= @title || "You Owe Me" %></a></h1>
			</header>
		</div>

		<div id="container" class="row">
			<%= yield %>
		</div>

		<div class="row">
			<footer class="eight columns centered">
				<p>Copyright (c)2012 <a href="http://jamieonsoftware.com">Jamie Rumbelow</a> - Powered by <a href="https://stripe.com">Stripe</a> - <a href="https://github.com/jamierumbelow/youoweme">Get the source code on GitHub</a></p>
			</footer>
		</div>
	</body>
</html>