<div class="row">
	<div class="eight columns centered" style="margin-top:-30px">
		<hr>

		<p>Your payment has successfully been processed and is on its way over to your friend as we speak. Doesn't it feel good to be debt-free? Thanks for using You Owe Me!</p>
		<p><a href="/logout">Logout</a></p>
	</div>
</div>