<div class="row">
	<div class="eight columns centered" style="margin-top:-30px">
		<hr>

		<p>Your message has successfully been prepared and sent off... now just wait and we'll send you an email when you get paid. Thanks for using You Owe Me to harrass your friends and family.</p>
		<p><a href="/logout">Logout</a></p>
	</div>
</div>